body {
  max-width: 100vw;
  background-color: #874356;
  font-family: 'Montserrat', sans-serif; }

.main {
  padding-top: 10vh; }

.header {
  background-color: #87a8a4;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
  border-bottom: 1px solid #986d8e;
  position: fixed;
  z-index: 10; }
  .header .nav1 {
    color: #986d8e;
    font-weight: bold;
    font-size: 2.5rem; }
  .header .navbar-brand {
    font-size: 2rem; }

/* index */
.container__slider {
  max-height: 90vh; }

.img-mod {
  max-height: 100%; }

.card {
  border: 1px solid #87a8a4;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }
  .card .btn {
    background-color: #87a8a4;
    border-color: #986d8e;
    color: #efe3d0; }

/* portafolio */
.container .titulo__principal {
  color: #efe3d0;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  border-top: 1rem solid #87a8a4;
  border-bottom: 1rem solid #87a8a4;
  margin-top: 2rem;
  display: block;
  margin-bottom: 2rem;
  border-radius: 1rem; }

.nav-color {
  color: #efe3d0;
  margin-bottom: 2rem; }
  .nav-color:hover {
    color: #986d8e;
    border-bottom: 1px solid rgba(239, 227, 208, 0.192);
    border-left: 1px solid rgba(239, 227, 208, 0.192);
    border-right: 1px solid rgba(239, 227, 208, 0.192);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; }

.galeria {
  background-color: #87a8a4;
  padding-top: 1.5rem;
  border-radius: 1rem;
  margin-bottom: 2rem; }
  .galeria .galeria__img {
    border: 0.5px solid #986d8e;
    border-radius: 0.5rem; }

.footer {
  background-color: #efe3d0;
  border-top: 1px solid #986d8e; }
  .footer h2 {
    color: #87a8a4; }
  .footer .footer__rrss {
    color: #986d8e;
    font-size: 1.5rem; }
    .footer .footer__rrss i {
      padding-left: 0.7rem; }
  .footer p {
    font-size: 0.8rem;
    color: #87a8a4; }
