/* mapas */
/* mixin */
body {
  max-width: 100vw;
  background: #21193b;
  background: linear-gradient(90deg, #21193b 0%, #322753 5%, #322753 50%, #322753 95%, #21193b 100%);
  font-family: 'Montserrat', sans-serif; }

.main {
  padding-top: 10vh; }

a {
  text-decoration: none; }

.header {
  background-color: #87a8a4;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
  border-bottom: 1px solid #986d8e;
  position: fixed;
  z-index: 10; }
  .header .nav1 {
    color: #986d8e;
    font-weight: bold;
    font-size: 2.5rem; }
  .header .navbar-brand {
    font-size: 2rem; }
  .header .dropdown-menu {
    background-color: #efe3d0; }

/* index */
.background__color {
  max-height: 92vh;
  background-color: black;
  border: 1px solid #986d8e; }
  .background__color img {
    max-height: 90vh; }

.card {
  border: 1px solid #87a8a4;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
  height: 100%; }
  .card .card-body {
    height: 7rem;
    border-top: 1px solid #986d8e;
    border-bottom: 1px solid #986d8e; }
  .card .btn {
    background-color: #87a8a4;
    color: #efe3d0;
    height: 100%;
    width: 100%;
    border-radius: 0;
    border: none; }
  .card .vermas {
    border-top: 1px solid #986d8e; }
  .card .img__tarjeta {
    height: 30rem; }

/* portafolio main */
.portafolio {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5%; }

.cat__portafolio {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  border: solid black;
  border-width: 1px;
  height: 40vh;
  width: 90vw;
  background-image: url(../img/mantencionescat.jpg);
  background-size: cover; }

.cat__portafolio a {
  color: #efe3d0; }

#cat__portafolio2 {
  background-image: url(../img/armadoshor2.jpg);
  background-size: cover;
  border-top: none; }

#cat__portafolio3 {
  background-image: url(../img/webcat.jpeg);
  background-size: cover;
  border-top: none; }

.overlay {
  width: 100%;
  height: 100%;
  transition: 1.2s ease; }

.overlay a {
  width: 100%;
  height: 100%;
  transition: 1s ease;
  display: flex;
  align-items: center;
  justify-content: center; }

.overlay:hover {
  background-color: rgba(239, 227, 208, 0.753); }

.overlay:hover a {
  color: #703162; }

/* portafolio categorias */
.titulo__principal {
  color: #efe3d0;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  border-top: 1rem solid #986d8e;
  border-bottom: 1rem solid #986d8e;
  margin-top: 2rem;
  display: block;
  margin-bottom: 2rem;
  border-radius: 1rem; }

.nav-color {
  color: #efe3d0;
  margin-bottom: 2rem;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; }
  .nav-color:hover {
    color: #986d8e;
    border-bottom: 1px solid rgba(239, 227, 208, 0.192);
    border-left: 1px solid rgba(239, 227, 208, 0.192);
    border-right: 1px solid rgba(239, 227, 208, 0.192);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: 0.5s ease;
    font-weight: bolder; }

.galeria {
  background-color: #87a8a4;
  padding-top: 1.5rem;
  border-radius: 1rem;
  margin-bottom: 2rem; }
  .galeria .galeria__img {
    border: 0.5px solid #986d8e;
    border-radius: 0.5rem;
    width: 100%; }
  .galeria nav-link:hover {
    color: #efe3d0;
    font-weight: bolder;
    transition: 0.4s ease; }
  .galeria .link__desc {
    color: #986d8e; }
  .galeria .link__desc:hover {
    color: #efe3d0;
    transition: 0.5s ease;
    font-weight: bold; }

/* sobre mi */
.img__sobremi {
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem; }

/* servicios */
#contenedor__servicios {
  margin-top: 0px; }

.overlay--servicios {
  flex-direction: column; }

/* Contacto */
.btn-primary {
  background-color: #986d8e;
  border-color: #efe3d0;
  color: #efe3d0; }
  .btn-primary .btn-primary :hover {
    background-color: #986d8e; }

.footer {
  background-color: #efe3d0;
  border-top: 1px solid #986d8e;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem; }
  .footer h2 {
    color: #87a8a4; }
  .footer .footer__rrss {
    color: #986d8e;
    font-size: 1.8rem; }
  .footer p {
    font-size: 0.8rem;
    color: #87a8a4; }
  .footer .nav1 {
    color: #986d8e;
    font-weight: bold;
    font-size: 3.5rem; }
  .footer .marca {
    font-size: 3rem;
    color: black; }

@media screen and (max-width: 768px) {
  .cat__portafolio a {
    background-color: rgba(239, 227, 208, 0.753);
    color: #5f3754;
    font-size: 1.1rem;
    padding-left: 1rem;
    padding-right: 1rem; }
  .caja {
    flex-direction: column-reverse; }
  .texto__sobremi {
    width: 100%;
    text-align: center; }
  .img__sobremi {
    border-radius: 50%;
    margin-bottom: 2rem;
    margin-top: 1.5rem; } }
