/* index */
.background__color{
    max-height: 92vh;
    background-color: black;
    border: 1px solid $colorDetalle;
    & img {
        max-height: 90vh;
    }
}

.card {
    border: 1px solid $colorUno;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    @include size100 (100%, 100%);
    .card-body{
        height: 7rem;
        border-top: 1px solid $colorDetalle;
        border-bottom: 1px solid $colorDetalle;
    }
    .btn{
        background-color: $colorUno;
        color: $colorDos;
        height: 100%;
        width: 100%;
        border-radius: 0;
        border: none;
    }
    .vermas {
        border-top: 1px solid $colorDetalle;
    }
    .img__tarjeta {
        height:30rem;
    }
}
/* portafolio main */
.portafolio {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5%;
}

.cat__portafolio {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    border:solid black;
    border-width: 1px;
    height: 40vh;
    width: 90vw;
    background-image: url(../img/mantencionescat.jpg);
    background-size: cover;
}

.cat__portafolio a {
    color: $colorDos;
}

#cat__portafolio2 {
    background-image: url(../img/armadoshor2.jpg);
    background-size: cover;
    border-top: none;
}

#cat__portafolio3 {
    background-image: url(../img/webcat.jpeg);
    background-size: cover;
    border-top: none;
}

.overlay {
    @include size100 (100%, 100%);
    transition: 2s ease;
    
}

.overlay a {
    @include size100 (100%, 100%);
    transition: 1.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay:hover {
    background-color: rgba(255, 255, 255, 0.774);
    color: black;
}
.overlay:hover a{
    color: black;
}

/* portafolio categorias */
.titulo__principal {
    color: $colorDos;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    border-top: 1rem solid $colorDetalle;
    border-bottom: 1rem solid $colorDetalle;
    margin-top: 2rem;
    display: block;
    margin-bottom: 2rem;
    border-radius: 1rem;
}
.nav-color {
    color: $colorDos;
    margin-bottom: 2rem;
    &:hover {
        color: $colorDetalle;
        border-bottom: 1px solid rgba(239, 227, 208, 0.192);
        border-left: 1px solid rgba(239, 227, 208, 0.192);
        border-right: 1px solid rgba(239, 227, 208, 0.192);
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}
.galeria {
    background-color: $colorUno;
    padding-top: 1.5rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    & .galeria__img {
        border: 0.5px solid $colorDetalle;
        border-radius: 0.5rem;
        width: 100%;
    }
}
/* servicios */
.servicios {
    background-color: $colorUno;
    padding-top: 1.5rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
}
.card-img--man {
    background-image: url(../img/mantencionescat.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    height: 400px;
    .card-img-overlay {
        height: 18rem;
    }
}
.card-img--arm {
    background-image: url(../img/armadoshor2.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    height: 400px;
    .card-img-overlay {
        height: 18rem;
    }
}
.card-img--web {
    background-image: url(../img/webcat.jpeg);
    background-repeat: no-repeat;
    background-size: cover ;
    height: 400px;
    .card-img-overlay {
        height: 18rem;
    }
}
/* servicios */
.img__sobremi {
    border: 1px solid $colorDetalle;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
/* Contacto */
.btn-primary {
    background-color: $colorDetalle;
    border-color: $colorDos;
    color: $colorDos;
    .btn-primary :hover {
        background-color: $colorDetalle;
    }
}