.footer {
    background-color: $colorDos;
    border-top: 1px solid  $colorDetalle;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    & h2 {
        color: $colorUno;
    }
    .footer__rrss {
        color: map-get($map: $redes, $key:color );
        font-size: map-get($map: $redes, $key:tFuente );
    }
    & p {
        font-size: 0.8rem;
        color: $colorUno;
    }

    .nav1{
        color: $colorDetalle;
        font-weight: bold;
        font-size: 3.5rem;
    }
    .marca{
        font-size: 3rem;
        color: black;
    }
}
