.header {
    background-color: rgb(135, 168, 164);
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    border-bottom: 1px solid  rgb(152, 109, 142);
    position: fixed;
    z-index: 10;
    .nav1{
        color: rgb(152, 109, 142);
        font-weight: bold;
        font-size: 2.5rem;
    }
    .navbar-brand{
        font-size: 2rem;
    }
}