.header {
    background-color: $colorUno;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    border-bottom: 1px solid  $colorDetalle;
    position: fixed;
    z-index: 10;
    .nav1{
        color: $colorDetalle;
        font-weight: bold;
        font-size: 2.5rem;
    }
    .navbar-brand{
        font-size: 2rem;
    }
    .dropdown-menu {
        background-color: $colorDos;
    }
}